# Compiled class files
*.class

# Logs
*.log

# Maven target folder
/target/

# Eclipse files
.project
.classpath
.settings/

# STS (Spring Tool Suite)
.springBeans

# Build folders
/bin/
/build/

# OS files
.DS_Store
Thumbs.db

# IntelliJ (if opened there)
.idea/
*.iml

# VS Code
.vscode/

# Temp files
*.tmp
*.bak

# Database (if local)
*.db

# Environment files
.env